name: GitHub Metrics

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: lowlighter/metrics@v3.34
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Josue-Augusto
          template: classic
          config_timezone: America/Sao_Paulo
          config_padding: 20, 20
          optimize: false

          base: header, activity, repositories, metadata

          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_ignored: html, css
          plugin_languages_limit: 8

          plugin_habits: yes
          plugin_habits_charts: yes
